.polls {
	min-height: 662px;
	padding: 68px 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 37px;
	max-width: 1216px;
	width: auto;

	@media (max-width: 1600px) {
		padding: 68px 1rem;
	}

	@media (max-width: 1300px) {
		padding: 68px 1rem;
	}

	@media (max-width: 1024px) {
		grid-template-columns: repeat(1, 1fr);
	}

	@media (max-width: 768px) {
		padding: 1rem;
		gap: 20px;
		min-height: auto;
	}

	.poll {
		color: rgba(25, 28, 31, 1);
		text-align: start;

		.poll-title {
			font-size: 18px;
			font-weight: 600;
			line-height: 32px;

		}

		.poll-content {
			font-size: 16px;
			line-height: 28px;
			margin: 0;
			margin-top: 17px;
			@media (max-width: 1024px) {
				margin-top: 46px;
			}
			@media (max-width: 768px) {
				margin-top: 14px;
			}
		}
	}
}

.polls-block{
	background-color: rgba(246, 248, 250, 1);
	width: 100%;
	display: flex;
	justify-content: center;
}